<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelTestingSuite">
  <test parallel="classes" thread-count="4" name="ChromeBrowserTest">
  <parameter name="browserName" value="chrome" ></parameter>
    <classes>
      <class name="com.SauceDemo.TestClasses.TS01VarifyLoginFunctionalityTestClassJuly31"/>
      <class name="com.SauceDemo.TestClasses.TS02VarifyLogoutFunctionalityTestClassJuly31"/>
      <class name="com.SauceDemo.TestClasses.TS03VarifySingleProductAddToCart"/>
      <class name="com.SauceDemo.TestClasses.TS04VarifyAllProductAddToCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
